body {
font-family: Arial, sans-serif;      
margin: 20px;      
background-color: black;      
color: white; /* Ensure text is visible on a black background */  
}

.container {
    max-width: 600px;
    margin: auto;
}

.hidden {
    display: none;
}

textarea {
height: 500px;
width: 200%;      
margin-top: 10px;      
background-color: #00000080; /* Make textarea 50% transparent dark black */
color: white; /* Ensure text is visible in the textarea */      
border: 1px solid white; /* Add border to textarea */  
}

 
